$border-color: #eee;
$header-h: 60px;
.tool-header {
  height: 60px;
  border-bottom: 1px solid $border-color;
  width: 100%;
  line-height: $header-h;
}

.tool-left-panel {
  position: relative;
  height: calc(100vh - #{$header-h});
  float: left;
  background-color: #fff;
  border-right: 1px solid $border-color;
  .sidebar-menu {
    width: 60px;
    height: 100%;
    float: left;
    padding-top: 20px;
    background-color: #fff;
    position: relative;
    z-index: 3;
  }
  .sidebar-menu__panel {
    float: left;
    border-left: 1px solid $border-color;
    height: 100%;
    width: 275px;
    margin-left: 0;
    transition: all .2s ease;
  }
}

.tool-right-panel {
  height: calc(100vh - #{$header-h});
  position: relative;
  float: right;
  background-color: #f8f9fa;
  width: 180px;
  border-left: 1px solid $border-color;
  margin-right: 0;
}

.tool-main-panel {
  position: relative;
  height: calc(100vh - #{$header-h});
  user-select: none;
  overflow: hidden;
  background-color: #e3e4e6;
}

.tool-main-panel__body {
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doc-panel {
  width: 600px;
  height: 400px;
  position: relative;
  //background-color: #fff;
  box-shadow: 0 3px 16px rgba(154, 156, 158, .2);
}